:root{
    font-size: 62.5%;
}

/* barra de rolagem */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: #9999D4;
    border-radius: 4px;
    border: 1px solid white;
}